{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Faculty | Create</title>

  <!-- Bootstrap core CSS -->
  <link href= "{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}"/>

  <style type="text/css">
  /* avoid stupid IE6 bug with frames and scrollbars */
  #more{
    cursor: pointer;
  }
  .grid-x {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
  td {
      padding-top: .3em;
      padding-bottom: .3em;
  }
  </style>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello {{name.name}}</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'faculty-dashboard' %}" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="{% url 'faculty-logout' %}" class="list-group-item list-group-item-action bg-light">Log Out</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

      </nav>

      <div class="container-fluid">

        <div class="grid-x">

       <form enctype="multipart/form-data" method="post" name="course_name" >
       {% csrf_token %}
     <h1>Edit / Extend Deadline</h1>
     <hr>

     <label for="course_id"><b>Course Name / Subject Name</b></label>
     <h6 id="course_id"> {{ asObj.course_id }}</h6>

     <label for="assignment_name"><b>Assignment Name / Topic</b></label>
     <h6 id="assignment_name"> {{ asObj.asname }}</h6>

     <label for="section_id"><b>Section ID / Batch</b></label>
     <h6 id="section_id"> {{ asObj.sectionid }}</h6>

     <label for="deadline"><b>Old Deadline</b></label>
     <h6 id="deadline"> {{ asObj.deadline }}</h6>
    <hr>
     <label for="newdeadline"><b>Pick a new Deadline</b></label>
     <input type="date" id ="newdeadline" name="newdeadline" required>
     <hr>

     <center>
      <input class="btn btn-primary" type="submit" value="Update">
     </center>
     <br>

  </form>
   </div>
      </div>
      <center>
      </center>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


</body>

</html>
